@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply grid min-h-screen place-content-center bg-gradient-to-t from-[#16181d] via-[#343a46] to-[#23272f];
  }
}
